body {
    font-family: 'Lato', sans-serif;
    background-color: #F9DEC9;
    color: #000000;
    margin: 0;
    display: flex;
}

.sidebar {
    background-color: #3A405A;
    color: #F9DEC9;
    width: 250px;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.profile-picture img {
    border-radius: 50%;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.profile-picture h1 {
    text-align: center;
    font-weight: 300;
    color: #828E82;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icon-link {
    color: #F9DEC9; /* Matches the sidebar's color theme */
    font-size: 1.5em;
    text-decoration: none;
}

.icon-link:hover {
    color: #B185A7; /* Changes color on hover */
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: #F9DEC9; /* Matches the background color */
    padding: 10px;
    position: sticky;
    top: 0;
}

.nav-link {
    color: #3A405A;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}

.nav-link:hover,
.nav-link:focus {
    color: #B185A7; /* Changes color when hovered */
}

h2 {
    color: #3A405A; /* Heading color */
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
    color: #B185A7;
}

section {
    margin-bottom: 40px;
}
