body {
    display: flex;
    margin: 0;
    font-family: 'Times New Roman', serif;
    color: #000000; /* Text in body */
    background-color: #FFE1A8; /* Background color */
}

.sidebar {
    width: 250px;
    background-color: #723D46; /* Sidebar color */
    color: #C9CBA3; /* Sidebar text */
    padding: 20px;
    text-align: center;
    position: fixed;
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #C9CBA3; /* Sidebar text color */
}

nav ul li a:hover, 
nav ul li a:focus {
    color: #E26D5C; /* Highlight color when clicked */
}

.avatar {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 15px;
}

.icons img {
    width: 30px;
    margin: 5px;
    background-color: #ffffff; /* Adds a white background */
    border-radius: 5px; /* Adds slight rounding */
    padding: 5px; /* Adds padding around the icon */
}

.main-content {
    margin-left: 270px;
    padding: 20px;
    flex: 1;
}

h2 {
    color: #472D30; /* Headers in the body */
    font-weight: 700;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #000000; /* Body text */
}

section {
    margin-bottom: 40px;
}
